APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""

FILE_ALLOWED_TYPES=["application/pdf", "text/plian"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 #512kb

MONGODB_URI="mongodb://localhost:27000/"
MONGODB_DB_NAME="mini-rag-app"